.footer_container {
    display: grid;
    grid-template-areas:
        "header email phone" 
        "header linkedin github";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #36393B;
    width: 100%;
    gap: 5px;
    padding: 5px;
    border-top: solid black 2px;

    & > div.header {
        grid-area: header;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
    }

    & > div.email {
        grid-area: email;
    }

    & > div.phone {
        grid-area: phone;
    }

    & > div.linkedin {
        grid-area: linkedin;
    }

    & > div.github {
        grid-area: github;
    }

    & > div.github > h3, div.linkedin > h3 {
        transition: 0.2s ease;

        &:hover {
            transform: scale(115%);
            transition: 0.2s ease;
        }

        
    }

    & > div.github > h3 > a, div.linkedin > h3 > a {
        text-decoration: none;
        color: white;
        transition: 0.2s ease;

        & > img {
            height: 15px;
            width: auto;
            border-radius: 3px;
        }

        &:hover {
            color: rgb(146, 0, 214);
            text-decoration: underline;
            transition: 0.2s ease;
        }

    }

    & > div.email, div.phone, div.linkedin, div.github {
        margin: 5px;
        text-align: center;
    }
}


@media screen and (max-width: 600px) {
    .footer_container{
        grid-template-areas:
        "header"
        "email"
        "phone"
        "linkedin"
        "github";
        grid-template-columns: 1fr;

        & > div.header {
            justify-content: center;
        }
    }
}   