:root {
    --header-height: 75px;
}

header {
    height: var(--header-height);
    width: 100vw;
}

#global_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36393B;
    height: inherit;
    width: inherit;
}

.nav_header, .nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33.33%;
    height: inherit;

    & > .nav_link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 50%;
        transition: 0.2s ease;
        border-left: black solid 4px;

        &:hover {
            background-color: rgb(241, 241, 241);
            transition: 0.2s ease;

            & > h2 {
                transform: scale(115%);
                transition: 0.2s ease;

                & > a {
                    text-decoration: underline;
                    color: purple;
                    transition: 0.2s ease;
                }
            }
        }

        & > h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            width: 100%;
            transition: 0.2s ease;

            & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #FCFAFA;
            height: inherit;
            width: inherit;
            transition: 0.2s ease;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .nav_link > h2 {
        font-size: 125%;
    }
}

@media screen and (max-width: 600px) {
    .nav_link > h2 {
        font-size: 100%;
    }

}